# Python
__pycache__/
*.pyc

# Node
node_modules/

# Database
*.db

# Logs
logs/transformation_log.json

# Validation logs
logs/validation/*
!logs/validation/.gitkeep

# Generated data
data/schema/*
!data/schema/.gitkeep

data/curated/*
!data/curated/.gitkeep

data/features/*
!data/features/.gitkeep

data/features_samples/*
!data/features_samples/.gitkeep

# Plans
metadata/plans/*
!metadata/plans/.gitkeep

node_modules/
frontend/node_modules/